@import url('./style-light.css');

:root {
    --color-background: #000000;
    --color-dimmed: #222222;
    --color-gray: #AAAAAA;
    --color-redimmed: #111;
    --color-inverted: #888;
    --color-red: #e64500;
    --duration-short: 0.2s;
}

img {
    filter: brightness(0.5);
}