:root {
    --color-background: #FFFFFF;
    --color-dimmed: #EEEEEE;
    --color-gray: #AAAAAA;
    --color-redimmed: #DDD;
    --color-inverted: #000000;
    --color-inverted2: #FFF;
    --color-red: #e64500;
    --color-black: #000;
    --duration-short: 0.2s;
}

* {
    font-family: sans-serif;
}

body {
    background-color: var(--color-background);
    transition-duration: var(--duration-short);
}

img {
    transition-duration: var(--duration-short);
}

a {
    color: var(--color-inverted);
    transition-duration: var(--duration-short);
}

a:hover {
    color: var(--color-red);
}

.a-svg {
    fill: var(--color-inverted);
    transition-duration: var(--duration-short);
}

.a-svg:hover {
    fill: var(--color-red);
    cursor: pointer;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    transition-duration: var(--duration-short);
}

.menu__container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 1em;
    padding: 0 100px;
    transition-duration: var(--duration-short);
}

#theme-toggler {
    position: absolute;
    top: 20px;
    right: 100px;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
        transition-duration: var(--duration-short);
    }

    .menu__container {
        flex-direction: column;
        height: fit-content;
    }

    .menu__button {
        margin: 5px 0;
    }

    .menu__button:nth-child(3) {
        order: -1;
    }
}

#interior__image {
    width: 100%;
    border-radius: 20px;
}

#shortcut {
    height: 50px;
    background-color: var(--color-inverted);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: var(--duration-short);
}

#shortcut:hover {
    background-color: var(--color-red);
}

#shortcut__text {
    color: var(--color-background);
    font-size: 1.2em;
    transition-duration: var(--duration-short);
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error * {
    padding: 20px 0 0 0;
    color: var(--color-inverted);
}

footer {
    background-color: var(--color-inverted);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 0 50px;
}

.footer__text {
    color: var(--color-redimmed);
}

.foods {
    background-color: var(--color-dimmed);
}

.foods__categories {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
}

.foods__category {
    padding: 10px 50px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--color-background);
    transition-duration: var(--duration-short);
}

.foods__category:hover {
    background-color: var(--color-red);
}

.foods__category:hover .foods__category__text {
    color: var(--color-inverted2);
}

.foods__category__input {
    display: none;
}

.foods__category__text {
    color: var(--color-inverted);
}

.notice__container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.notice__info {
    flex: 1;
    display: flex;
    margin: 50px 0 50px 0;
}

.info__picture {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 50px;
}

.info__text * {
    margin: 10px 0;
    color: var(--color-inverted);
}

.info__button__container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-inverted);
    border-radius: 30px;
    transition-duration: var(--duration-short);
}

.info__button__container:hover {
    background-color: var(--color-red);
}

.info__button_text {
    font-size: 1.2em;
    color: var(--color-background);
}

@media screen and (max-width: 900px) {
    .notice__info {
        flex-direction: column;
    }

    .info__picture {
        width: 90%;
        height: auto;
        object-fit: contain;
        border-radius: 20px;
    }

}

.foods__container {
    display: flex;
    flex-flow: row wrap;
}

.foods__serving {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    margin: 10px;
    background-color: var(--color-inverted);
    border-radius: 30px 30px 20px 20px;
    transition-duration: var(--duration-short);
}

.foods__serving:hover {
    background-color: var(--color-red);
    cursor: pointer;
}

.foods__serving.hide {
    display: none;
}

.serving__pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.serving__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.serving__name {
    color: var(--color-background);
    margin-top: 10px;
}

.serving__desc {
    color: var(--color-background);
    margin-top: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.serving__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.serving__weight {
    color: var(--color-background);
}

.serving__price {
    color: var(--color-background);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: var(--duration-short) ease-in-out;
    background-color: var(--color-background);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal__pic {
    width: 70%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.modal__name,
.modal__desc,
.modal__weight,
.modal__price {
    color: var(--color-inverted);
    padding: 20px 0 0 0;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: var(--duration-short) ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.discount__container {
    display: flex;
    flex-flow: row wrap;
}

.discount__deal {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.discount__deal * {
    margin: 20px 0 0 0;
    color: var(--color-inverted);
}

.deal__pic {
    width: 50%;
    height: auto;
    border-radius: 20px;
}