{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}

{% block body %}
<a href="/menu">
    <div id="shortcut">
        <p class="ts-color-bg ts-ml">Посмотреть меню</p>
    </div>
</a>

<div class="notice">
    <div class="wrapper">

        <div class="notice__container">

            {% for notice in notices %}
                <div class="notice__info">
                    
                    
                    {% with '/image/'|add:notice.pic|add:'.jpg' as pic  %}
                        <img class="info__picture" src="{% static pic %}" alt="">
                    {% endwith %}
                        
                    <div class="info__text">
                        <h1 class="info__headline">{{ notice.headline }}</h1>
                        <p class="info__body">{{ notice.body }}</p>
                        <div class="info__button">
                            <a href="#">
                                <div class="info__button__container">
                                    <p class="info__button_text">{{ notice.action }}</p>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            {% endfor %}

            
        </div>
    </div>
</div>
{% endblock body %}