{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}

{% block body %}
<a href="/menu">
    <div id="shortcut">
        <p class="ts-color-bg ts-ml">Посмотреть меню</p>
    </div>
</a>

<div class="notice">
    <div class="wrapper">
        <!-- <img id="interior__image" src="{% static 'image/interior.png' %}" alt="Interior"> -->

        <div class="notice__container">
            <div class="notice__unit">
                <img class="notice__unit__picture" src="{% static '/image/news1.jpg' %}" alt="">
                <p class="notice__unit__text">Lorem accusam consetetur dolore diam</p>
            </div>

            <div class="notice__unit">
                <img class="notice__unit__picture" src="{% static '/image/news2.jpg' %}" alt="">
                <p class="notice__unit__text">Vero rebum ut erat takimata liber voluptua nonumy dolore dolor sanctus sed nonumy sea ad no</p>
            </div>

            <div class="notice__unit">
                <img class="notice__unit__picture" src="{% static '/image/news3.jpg' %}" alt="">
                <p class="notice__unit__text">Commodo elitr labore lorem adipiscing ipsum labore stet amet nulla no vero suscipit ipsum ut dolores liber amet</p>
            </div>

            <div class="notice__unit">
                <img class="notice__unit__picture" src="{% static '/image/news4.jpg' %}" alt="">
                <p class="notice__unit__text">Aliquam aliquyam amet ea eros kasd</p>
            </div>

            <div class="notice__unit">
                <img class="notice__unit__picture" src="{% static '/image/news5.jpg' %}" alt="">
                <p class="notice__unit__text">Sed nulla at rebum et magna kasd. Tincidunt diam eirmod rebum kasd iriure dolor elit eum diam iriure ea sadipscing sanctus</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}