{% extends 'base.html' %}
{% load static %}

<link id="style" rel="stylesheet" href="{% static 'css/style-light.css' %}">

{% block title %}Меню{% endblock title %}

{% block body %}
<div class="foods">
    <div class="wrapper">
        <div class="foods__categories">

            <label class="foods__category" for="all">
                <p class="foods__category__text">Все</p>
                <input class="foods__category__input" type="checkbox" name="all" id="all">
            </label>

            {% for category in categories %}
                <label class="foods__category" for="{{ category.codename }}">
                    <p class="foods__category__text">{{ category.title }}</p>
                    <input class="foods__category__input" type="checkbox" name="{{ category.codename }}" id="{{ category.codename }}">
                </label>
            {% endfor %}

        </div>

        <div class="foods__container">
            {% for product in products %}

                <div class="foods__serving" data-modal-target="#modal" data-category="{{ product.category.codename }}">
                    
                    {% with '/image/'|add:product.pic|add:'.jpg' as pic %}
                        <img class="serving__pic" src="{% static pic %}" alt="pizza pic">
                    {% endwith %}
                        
                    <div class="serving__text">
                        <h1 class="serving__name">{{ product.name }}</h1>
                        <p class="serving__desc">{{ product.desc }}</p>
                    </div>
                    <div class="serving__info">
                        <h5 class="serving__weight">{{ product.weight }} гр.</h5>
                        <h2 class="serving__price">{{ product.price }} ₽</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal" id="modal">
    <img class="modal__pic" src="{% static 'image/pizza_american.jpg' %}" alt="">
    <h1 class="modal__name">empty</h1>
    <p class="modal__desc">empty</p>
    <h5 class="modal__weight">empty</h5>
    <h2 class="modal__price">empty</h2>
</div>
<div id="overlay"></div>

<script src="{% static 'js/menu.js' %}"></script>
{% endblock body %}