{% extends 'base.html' %}
{% load static %}

<link id="style" rel="stylesheet" href="{% static 'css/style-light.css' %}">

{% block title %}Новости{% endblock title %}

{% block body %}
<div class="discount">
    <div class="wrapper">
        <div class="discount__container">
            
            {% for discount in discounts %}
                <div class="discount__deal">
                    
                    {% with '/image/'|add:discount.pic|add:'.jpg' as pic %}
                        <img class="deal__pic" src="{% static pic %}" alt="discount pic">
                    {% endwith %}

                    <h1 class="deal__headline">{{ discount.headline }}</h1>
                    <p class="deal__body">{{ discount.body }}</p>
                </div>
            {% endfor %}
                
        </div>
    </div>
</div>
{% endblock body %}